/* General Styles */

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../public/logo.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  opacity: 0.05; /* Adjust transparency */
  z-index: -1;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  padding: 0; /* Remove padding around the entire app */
}
.logo {
  height: 70px; /* Adjust the size as needed */
  margin-right: 5px;
}

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: black; /* Header background color */
  padding: 20px; /* Padding inside the header */
  color: white; /* Header text color */
}

.header-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align left */
}

.header-left h1 {
  font-size: 32px; /* Larger font size for "Menjačnica Sedmica MMS" */
  margin: 0;
}

.header-left p {
  font-size: 16px; /* Larger font size for "Bulevar Oslobođenja 109 Novi Sad" */
  margin: 0;
}

.header-right p {
  font-size: 32px; /* Larger font size for "Tel: 021/521-421" */
  margin: 0;
}

.logo-title {
  display: flex;
  align-items: center; /* Keep logo and title together */
  gap: 10px; /* Add space between logo and text */
}

/* Box Container Styles */
.box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Reduced gap between boxes */
  justify-content: center;
  padding: 10px; /* Reduced padding around the box container */
}

/* Box Styles */
.box {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0px;
  text-align: center;
  flex: 1 1 calc(25% - 20px); /* 4 boxes per row on desktop - default value */
  max-width: calc(25% - 20px);
  box-sizing: border-box;
  background-color: white; /* Box background color */
}

.box h2 {
  font-size: 38px; /* font size for "Naziv" */
  margin: 0 0 15px 0; /* I control the padding between header and body of boxes here */
  background-color: lightgray; /* Light gray background for box headers */
  padding: 10px; /* Padding inside the box header */
  border-radius: 4px;
  position: relative; /* Enable absolute positioning for child */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden; /* Ensure rounded corners apply */
}

.box .label {
  font-size: 16px; /* font size for labels */
  margin: 0px 0;
  color: #333; /* Label text color */
}

.box .value {
  font-size: 60px; /* Much larger font size for Otkup and Prodaja values */
  font-weight: bold;
  margin: 3px 0 6px 0; /* I control the margin between label and fields here */
  color: #00846d; /* Green color for Otkup and Prodaja values */
}

.flag {
  position: absolute;
  left: 0;
  top:0;
  height: 100%; /* Force height */
  width: 100px; /* Force width */
  border-top-left-radius: 4px; /* Match h2's rounded corners */
  border-bottom-left-radius: 4px;
  object-fit:fill;
}

/* Responsive Styles */
@media (max-width: 1060px) {
  .box {
    flex: 1 1 calc(33% - 20px); /* 3 boxes per row */
    max-width: calc(33% - 20px);
  }
}

@media (max-width: 830px) {
  .box {
    flex: 1 1 calc(50% - 20px); /* 2 boxes per row */
    max-width: calc(50% - 20px);
  }
}

@media(max-width:700px){
  /* Stack header content on mobile */
  .header {
    flex-direction: column; /* Stack header content vertically */
    align-items: flex-start; /* Align content to the left */
    padding: 15px; /* Adjust padding for mobile */
  }
}

@media (max-width: 550px) {
  .box {
    flex: 1 1 100%; /* 1 box per row */
    max-width: 100%;
  }
}